.root {

}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px -10px 0;
}
.pagination span {
    padding: 0 10px;
    cursor: pointer;
}
.activePage {
    font-weight: bold;
}