.root {
    display: flex;
    align-items: center;
    justify-content: center;
}
.BtnPlay {
    width: 30px;
    height: 30px;
    margin: 0 40px;
    padding: 0;
    font-size: 0;
    background-image: url("../../images/play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}
.BtnPlay.play {
    background-image: url("../../images/pause.png");
}
.BtnBack {
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 0;
    background-image: url("../../images/next.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}
.BtnNext {
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 0;
    background-image: url("../../images/next.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}
