.root {
    padding: 10px 0 20px;
}
.time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.passed {

}
.duration {

}
.progress {
    position: relative;
    height: 3px;
}
.progressBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #333333;
}
.progressBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #ff4700;
    background-color: #e53485;
    background-color: white;
}