body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .04rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
    font-size: 14px;
}

body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #21292a;
}

#root {
    width: 100%;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li::marker {
    content: none;
}

a {
    color: white;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.grid {
    display: flex;
}

.grid-col--6 {
    width: 50%;
    min-width: 50%;
}